.main {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 1rem;
  position: relative;
  overflow: scroll;
}

.mainHeader {
  min-width: 100%;
  height: 5%;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  margin-bottom: 0.5rem;
}

.mainButton {
  position: absolute;
  right: 0;
  width: 4rem;
  height: 2rem;
  background-color: black;
  border: none;
  color: white;
  font-size: 0.77rem;
}

.mainFeed {
  height: 100%;
  width: 100%;
}

.mainList {
  width: 100%;
  min-width: 315px;
  height: 100%;
  list-style: none;
  color: white;
  overflow: scroll;
  overflow-y: scroll;
}

.mainHeadline {
  height: 95px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  /* opacity: 0;
    pointer-events: none;
    transform: scale(0.8);
  */
}

.mainHeadline:hover {
  /* cursor: pointer; */
  background-color: white;
  color: black;
}
.mainCardDetails {
  width: 75%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.mainImage {
  width: 100%;
  height: auto;
}

.mainDynamicImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: grey;
}

.mainDetails {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-right: 1rem;
  height: 100%;
  margin-left: 1rem;
}

.mainCardTitle {
  font-size: 1rem;
  font-weight: 700;
  width: 100%;
  height: 50%;
  overflow: scroll;
  background-color: grey;
}

.mainCardDescription {
  height: 100%;
  width: 100%;
  font-weight: 300;
  font-size: 1.4rem;
  padding-left: 0.5rem;
  overflow: hidden;
  margin-bottom: 1rem;
}

/* .mainCardContent {
    height: 200px;
    width: 100%;
    font-weight: 300;
    padding: 1rem;
    background-color: var(--app-main);
    border-radius: 5px;
    overflow: scroll;
    font-size: 1.1rem;
  } */

.mainCardSource {
  width: 25%;
  height: 100%;
  font-size: 0.9rem;
  overflow-y: hidden;
}

.mainSource {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-wrap: nowrap;
  font-size: 1.1rem;
}

.mainSourceName {
  width: 100%;
  height: 50%;
  background-color: gray;
}

.mainSourceDate {
  color: var(--homepage-tertiary);
  /* color: white; */
}
.mainSourceCalender {
  margin-right: 1rem;
}

/* .mainFeature {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--homepage-tertiary);
  } */

.viewButton {
  width: 100%;
  font-size: 0.9rem;
  font-weight: 200;
  height: 1.2rem;
  background-color: var(--homepage-tertiary);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-end;
}

.keyword {
  max-width: 8rem;
  width: auto;
  height: auto;
  max-height: 100%;
  border: none;
  color: var(--homepage-tertiary);
  font-size: 1rem;
  text-wrap: wrap;
  overflow: scroll;
}
.article {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 1rem;
}

.articleHeader {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 1rem;
}

.articleKeyword {
  max-width: 8rem;
  width: auto;
  height: auto;
  max-height: 100%;
  border: none;
  color: var(--homepage-tertiary);
  font-size: 1rem;
  text-wrap: wrap;
  overflow: scroll;
}

.articleButton {
  position: absolute;
  right: 0;
  width: 4rem;
  height: 2rem;
  background-color: black;
  border: none;
  color: white;
  font-size: 0.77rem;
}

.articleFeed {
  height: 300px;
  width: 100%;
}

.articleList {
  width: 100%;
  min-width: 315px;
  height: 100%;
  list-style: none;
  color: white;
  overflow: hidden;
  overflow-y: scroll;
}

.articleHeadline {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  color: white;
  /* border-bottom: 1px solid rgb(255, 255, 255, 0.675); */
}

.articleHeadline:hover {
  /* cursor: pointer; */
  background-color: white;
  color: black;
}
.articleCardDetails {
  width: 70%;
  height: 100%;
}

.articleMainDetails {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.articleCardTitle {
  font-size: 1.1rem;
  font-weight: 700;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

/* .articleCardDescription {
    height: 40%;
    width: 100%;
    font-weight: 300;
    font-size: 1.2rem;
    overflow: scroll;
  } */
.articleCardSource {
  width: 25%;
  height: 100%;
  font-size: 1rem;
  overflow-y: hidden;
}

.articleSource {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1rem;
  text-wrap: nowrap;
}

.articleSourceName {
  width: 100%;
  height: auto;
  text-overflow: hidden;
}

.articleSourceDate {
  color: var(--homepage-tertiary);
}

/* .articleSourceCalender {
    margin-right: 0.5rem;
  } */

.articleFeature {
  color: var(--homepage-tertiary);
}

/*   */

.saved {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 1rem;
}

.savedHeader {
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.675);
  margin-bottom: 1rem;
  color: black;
}

.savedButton {
  position: absolute;
  right: 0;
  width: 4rem;
  height: 2rem;
  background-color: black;
  border: none;
  color: white;
  font-size: 0.77rem;
}

.savedFeed {
  height: 260px;
  width: 100%;
}

.savedList {
  width: 100%;
  min-width: 315px;
  height: 100%;
  list-style: none;
  color: white;
  overflow: hidden;
  overflow-y: scroll;
}

.savedHeadline {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  /* border-bottom: 1px solid rgb(255, 255, 255, 0.675); */
}

.savedCardDetails {
  width: 65%;
  height: 100%;
  color: black;
}

.savedMainDetails {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.savedCardTitle {
  font-size: 1.4rem;
  font-weight: 700;
  width: 100%;
  height: 60%;
  overflow: hidden;
  text-wrap: wrap;
}

.savedCardDescription {
  height: 40%;
  width: 100%;
  font-weight: 300;
  font-size: 1.2rem;
  overflow: scroll;
}
.savedCardSource {
  width: 30%;
  height: 100%;
}

.savedSource {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1rem;
  color: var(--homepage-tertiary);
}

.savedSourceName {
  font-size: 1rem;
  width: 100%;
  height: 25px;
  color: black;
}

.savedSourceDate {
  min-width: 75x;
}
.savedSourceCalender {
  margin-right: 1rem;
}

.savedFeature {
  color: var(--homepage-tertiary);
}

.latestContainer {
  width: 100%;
  min-width: 375px;
  height: 100%;
  overflow: scroll;
  padding: 1rem;
}
.latestNewsFeed {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.latestNewsHeader {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: space-between;
  position: relative;
  border-bottom: 1px solid rgb(255, 255, 255, 0.675);
  color: white;
  padding-bottom: 0.5rem;
  z-index: 1;
}

#latestNewsExpand {
  font-size: 1rem;
  color: var(--homepage-tertiary);
}

#latest-news-expand:hover {
  cursor: pointer;
}

.latestNewsFeed {
  list-style: none;
  height: 700px;
  width: 100%;
  min-width: 375px;
  color: white;
}

.latestbutton {
  position: absolute;
  right: 0;
  width: 4rem;
  height: 2rem;
  background-color: black;
  border: none;
  color: white;
  font-size: 0.77rem;
}

.lastestNewsList {
  width: 100%;
  min-width: 330px;
  height: 100%;
  list-style: none;
  overflow: scroll;
  color: white;
}

.latestHeadline {
  height: 95px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.latestHeadline:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}
.latestCardDetails {
  width: 65%;
  height: 100%;
}

.latestCardTitle {
  font-size: 1.15rem;
  font-weight: 700;
  width: 100%;
  height: 100%;
  overflow: scroll;
  text-wrap: wrap;
}

.latestCardDescription {
  height: 40%;
  width: 100%;
  font-weight: 300;
  font-size: 0.9rem;
  overflow: scroll;
}

.latestCardSource {
  width: 30%;
  height: 100%;
  font-size: 0.9rem;
  overflow-y: hidden;
}

.latestSource {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.latestSourceName {
  width: 100%;
  height: auto;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.latestSourceDate {
  color: var(--homepage-tertiary);
}

.latestSourceCalender {
  margin-right: 1rem;
}

.latestFeature {
  color: var(--homepage-tertiary);
}
