:root {
  --homepage-main: #000000;
  --homepage-secondary: #717171;
  --homepage-tertiary: #0781fe;
  --NavFontSize: 2rem;
  --NavFont: "Belleza", sans-serif;
  --app-main: #181818;
  --app-secondary: #121212;
  --rem: 1.2rem;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.homepage {
  position: relative;
  height: 90vh;
  background-color: #000000;
}

.home-index {
  display: flex;
  max-height: 100vh;
  width: 100vw;
  position: fixed;
}
.side-banner {
  width: 11rem;
  height: 100vh;
}

.main-banner-homepage {
  width: 100%;
  height: 100%;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 8%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  box-shadow: 0px 6px 9px -1px rgba(0, 0, 0, 0.75);
  width: auto;
  background: var(--homepage-main);
  height: auto;
  font-size: 1rem;
}

.time-nav {
  grid-column: 1 span 1;
  height: 10vh;
  min-width: 490px;
  color: white;
  display: flex;
  justify-content: center;
}

.timezone-main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0.5rem;
  font-size: 1rem;
}

.time-zones {
  display: flex;
  font-size: 0.7rem;
}

#timezone {
  margin-right: 0.5rem;
}

#NY-timezone-time {
  color: var(--homepage-tertiary);
}
.call-to-action {
  grid-column: 3;
  height: 10vh;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  padding-right: 1.5rem;
  padding-left: 12rem;
}
.feature {
  height: 50px;
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: var(--app-main);
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 0.5px;
  margin-right: 2rem;
}

.action-link {
  height: 50px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: var(--homepage-tertiary);
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 0.5px;
}

// .main-search {
//   height: 100%;
//   width: 100%;
//   padding-right: 3rem;
//   font-size: 1.2rem;
//   text-align: right;
//   background-color: var(--homepage-main);
//   border: none;
// }

// .main-search::placeholder {
//   color: var(--homepage-secondary);
// }

// .main-search:focus {
//   background-color: white;
//   transition: ease-in 0.5s;
//   color: var(--homepage-main);
// }

// .main-search:hover {
//   background-color: white;
//   transition: ease-in 0.5s;
//   color: var(--homepage-main);
// }

// .main-search:hover::placeholder {
//   transition: ease-out 0.5s;
//   color: var(--homepage-main);
// }

.sidebar {
  width: 100%;
  min-width: 170px;
  background-color: var(--homepage-main);
  height: 100%;
  transition: all 0.7s ease-in;
  display: flex;
  flex-direction: column;
}

.logo-video {
  width: 100%;
  height: 10%;
}

.sidebar-logo:hover {
  cursor: pointer;
}
.sidebar-logo {
  width: 100%;
  height: 100%;
  background-color: var(--homepage-main);
}

.sidebar-main {
  height: 90%;
  width: auto;

  padding-bottom: 1rem;
}

.sidebar-item {
  list-style: none;
  margin-bottom: 1rem;
  font-size: 1rem;
  background-color: var(--homepage-main);
  width: 100%;
  height: 100%;
  margin: auto;
}

.sidebar-item:hover {
  background-color: var(--homepage-tertiary);
}

.sidebar-list {
  display: flex;
  flex-direction: column;
  height: 40%;
  width: auto;
}

.sidebar-link {
  text-decoration: none;
  color: white;
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

.sidebar-icon {
  font-size: 1.5rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.sidebar-icon:hover .sidebar-icon-custom {
  display: none;
}

.sidebar-icon:hover .sidebar-description {
  display: block;
}
.sidebar-description {
  display: none;
  font-size: 1rem;
  text-align: center;
  width: 100%;
}

.sb-login {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#sidebar-login {
  width: 90%;
  height: 20%;
  display: flex;
  justify-content: center;
  margin: auto;
}

#sidebar-login a:hover {
  color: var(--homepage-main);
  text-decoration: none;
}

.sidebar-login-item {
  list-style: none;
  width: 90%;
  height: 5rem;
  align-self: flex-end;
  font-size: 1.5rem;
  background-color: var(--homepage-tertiary);
  border-radius: 15px;
}

.footer {
  width: 100vw;
  min-width: 801px;
  height: 250px;
  position: static;
  display: flex;
  justify-content: space-between;
}
.logo {
  color: var(--app-secondary);
  margin-left: 10rem;
  font: var(--NavFont);
  font-size: 3rem;
  margin-bottom: 150px;
  display: flex;
}

.copyright {
  margin-top: 4rem;
  font-size: 20px;
  font-weight: 350;
}

.bottompt2 {
  width: 600px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font: var(--NavFont);
  font-size: var(1rem);
  margin-top: 0.5rem;
}

.contact {
  font-weight: 400;
  font-size: var(1rem);
}

.socials {
  margin-right: 5rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.socialitems {
  margin-top: 10px;
  display: flex;
  height: 140px;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 350;
  justify-content: space-around;
}

.socialitems a {
  text-decoration: none;
  color: var(--app-secondary);
  letter-spacing: 2px;
  font-weight: 350;
}
