:root {
  --homepage-main: #121212;
  --homepage-secondary: #717171;
  --homepage-login: #0781fe;
  --NavFontSize: 2rem;
  --NavFont: "Belleza", sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.home-enter {
  display: flex;
  max-height: 100vh;
}
.side-banner {
  width: 15%;
  min-width: 215px;
  height: 100vh;
}

.main-banner-homepage {
  width: 100%;
  height: 100vh;
  min-width: 1050px;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 8%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  box-shadow: 0px 6px 9px -1px rgba(0, 0, 0, 0.75);
  width: auto;
  background: var(--homepage-main);
  color: #fff;
  height: 8vh;
}

.time-nav {
  grid-column: 1;
  padding: 1rem 1rem;
}

.search-nav {
  grid-column: 3;
}

.search-grid {
  background-color: var(--homepage-main);
}

.search-prompt {
  height: 100%;
  width: 100%;
  padding: 2rem;
  background-color: var(--homepage-main);
  color: #fff;
  border-left: 0.5px var(--homepage-secondary) solid;
  font-size: 1rem;
  outline: none;
}

.sidebar {
  width: 100%;
  max-width: 275px;
  min-width: 220px;
  background-color: var(--homepage-main);
  height: 100vh;
  transition: all 0.7s ease-in;
  display: flex;
  flex-direction: column;
}

.sidebar-logo {
  height: 8vh;
  width: 100%;
  padding-top: 1rem;
}

.sidebar-main {
  height: 100%;
}

.sidebar-item {
  list-style: none;
  padding: 1rem 1rem;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1rem;
  background-color: var(--homepage-main);
  width: 100%;
  height: 100%;
  margin: auto;
}

.sidebar-item:hover {
  background-color: var(--homepage-secondary);
}

.sidebar-list {
  display: flex;
  flex-direction: column;
  height: 20%;
}

.sidebar-description {
  padding-left: 1rem;
}
.sidebar-link {
  text-decoration: none;
  color: white;
  border-radius: 15px;
  width: 100%;
  height: 35px;
  padding: 1.5rem 1rem;
}

.sidebar-icon {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 70px;
}

.sb-login {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#sidebar-login {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

#sidebar-login a:hover {
  color: black;
  text-decoration: none;
}

.sidebar-login-item {
  list-style: none;
  width: 90%;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-self: flex-end;
  padding-top: 1rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  background-color: var(--homepage-login);
  border-radius: 15px;
}

.sidebar-login-link {
  text-decoration: none;
  color: white;
  border-radius: 15px;
  width: 100%;
  height: 2.5rem;
}

.homepage {
  margin-bottom: 0px;
  position: relative;
  height: 92vh;
  margin-bottom: -1px;
}

.lumiere-banner {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.banner {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

#Lumiere {
  color: white;
  font-size: 7rem;
  font-weight: 450;
}

.footer {
  width: 100vw;
  min-width: 801px;
  height: 250px;
  position: static;
  display: flex;
  justify-content: space-between;
}
.logo {
  color: var(--homepage-main);
  margin-left: 10rem;
  font: var(--NavFont);
  font-size: 3rem;
  margin-bottom: 150px;
  display: flex;
}

.copyright {
  margin-top: 4rem;
  font-size: 20px;
  font-weight: 350;
}

.bottompt2 {
  width: 600px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font: var(--NavFont);
  font-size: var(1rem);
  margin-top: 0.5rem;
}

.contact {
  font-weight: 400;
  font-size: var(1rem);
}

.socials {
  margin-right: 5rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.socialitems {
  margin-top: 10px;
  display: flex;
  height: 140px;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 350;
  justify-content: space-around;
}

.socialitems a {
  text-decoration: none;
  color: var(--homepage-main);
  letter-spacing: 2px;
  font-weight: 350;
}

.timezone-main {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-left: 3rem;
}

.time-zones {
  display: flex;
  font-size: 0.7rem;
}

#NY-timezone {
  margin-right: 1rem;
}

#NY-timezone-time {
  color: var(--homepage-login);
}
